.header {
  margin-left: 20px;
}

.postContainer {
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
  padding: 10px;
}

.posts {
  list-style-type: none;
}

li:hover {
  background-color: yellow;
}
